name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: testing github actions
        run: pwd

      - name: testing printing
        run: echo "mahmoud"

      - uses : actions/checkout@v3 
      - name: "after"
        run: ls 